/* hat */
header{
    margin-top: 45px;
    text-decoration-line: underline;
}
header a{
    margin-left: 96px;
    color: #000;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: 30px;
    /* font-style: normal; */
    font-weight: 300;
    line-height: normal;
}

/* main */
.topic{
    background: url("../img/module-1-grammar.png"), lightgray -7.447px -53.808px / 100% 358.363% no-repeat;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    flex-shrink: 0;
    font-family: Rammetto One;
    font-size: 68.056px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.topic{
    margin: 90px 0 0 140px;
}

.head-description{
    width: 1594px;
    height: 122px;
    flex-shrink: 0;
    color: #000;
    font-family: Montserrat;
    font-size: 50px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.head-description{
    margin: 57px 0 0 140px;
}

.start-head-moduleOne{
    width: 1320px;
    height: 74px;
    flex-shrink: 0;
    color: #000;
    font-family: Montserrat;
    font-size: 30px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}
.start-head-moduleOne{
    margin: 57px 0 0 140px;
}
/* down */
#down{
    position: absolute;
    right: 1%;
    bottom: 1%;
    font-family: Montserrat;
}


/* image */

img{
    pointer-events: none;
}